# build artifacts
*.exe
*.o
SoftwareRenderer.exe
frame_*.ppm

# OS/editor junk
*~
*.swp
.DS_Store
Thumbs.db

# VS Code
.vscode/.browse.*
.vscode/*.log

# old SDL3 import dir
archive/

frames/
*.gif
*.mp4
frame_*.ppm